body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffcccb, #ff6f61);
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.bottom-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}


button:hover {
    background-color: #ff4436;
}

.signature-box {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;

}
.signature-input {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.signature-input:focus {
    border-color: #007BFF;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
}
